@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400%display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #3c484e;
    font-family: 'Open Sans', sans-serif;
}

.Header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 30px;
    box-sizing: border-box;
    animation-name: fade;
    animation-duration: 1s;
}

.Header a {
    text-decoration: none;
    color: #303030;
}

.Main {
    grid-template-columns: minmax(auto, 1450px);
    display: grid;
    justify-content: center;
}

.Characters {
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1.5rem;
    display: grid;

    padding: 0 40px;
    box-sizing: border-box;
}

.Characters-inner {
    grid-template-columns: auto 1fr;
    grid-gap: 1.5rem;
    grid-column-gap: 1.5em;
    display: grid;
}

.Characters-card {
    text-decoration: none;
    border-radius: 5px;
    display: block;
    animation-duration: 2s;
    animation-name: fade;
    transition: all .4s;
    padding: 30px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Characters-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;

}

.Characters-card-img {
    display: flex;
    width: 100%;
    max-width: 500px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.Characters-card h1 {
    font-size: 32px;
    font-weight: bolder;
    text-align: left;
    margin-bottom: 30px;

}

.Characters-card h3 {
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    margin: 0;
    margin-bottom: 10px;
}

.Characters-card h3 span {
    font-weight: 300;
}

.Characters-item {
    text-decoration: none;
    border-radius: 5px;
    margin: 0 0 20px 0;
    display: block;
    animation-duration: 2s;
    animation-name: fade;
    transition: all .4s;
    border: solid 1px #dfdfdf;
}

.Characters-item:hover {
    box-shadow: 8px 14px 38px rgba(39, 44, 49, .06), 1px 3px 8px rgba(39, 44, 49, .03);
    border: solid 1px transparent;
    transform: scale(1.2);
}

.Characters-item img {
    width: 100%;
    height: auto;
    border-radius: 5px 5px 0 0;
}

.Characters-item h2 {
    font-size: 18px;
    font-weight: 300;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    font-weight: bolder;
    color: #303030;
    opacity: .7;
}

.Characters-item a {
    text-decoration: none;
    color: #026C86;
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.Main-loading {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width:600px) {
    .Characters {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width:600px) and (max-width:768px) {
    .Characters {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width:768px) and (max-width:1120px) {
    .Characters {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media only screen and (min-width:1120px) {
    .Characters {
        grid-template-columns: repeat(5, 1fr);
    }
}